body {
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

#image-holder {
    max-width: 60vw;
    max-width: 60vh;
}
#input-file {
    justify-self: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.image-preview {
    width: 50vw;
    min-height: 50vh;
    border: 2px solid rgb(58, 58, 58);
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: rgb(103, 103, 103);
    border-radius: 5px;
}
.image-preview__image{
    display: none;
    width: 100%;
}